<% provide(:title, 'Update Looking for') %>
<h1>Update Personal Profile Looking for</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@personal_profile) do |f| %>
      <%= render 'shared/error_messages', target: @personal_profile  %>
      <%= hidden_field_tag 'source', 'edit_wants' %>
      <%= f.text_area :looking_for %>
      <%= f.collection_check_boxes :wanted_genders, PersonalQuestionAnswer.by_label(:gender), :id, :answer, label:  "Wanted Genders", :class => "auto-width" %>
      <%= f.select( :min_age, 18..100, {:include_blank => true}, {:class=>"auto-width"}) %>
      <%= f.select( :max_age, 18..100, {:include_blank => true}, {:class=>"auto-width"}) %>
      <%= f.select( :min_height_inches, PersonalProfile.height_inches_select_options, {:include_blank => true }, { :class => "auto-width" }) %>&nbsp;&nbsp;
      &nbsp;&nbsp;OR&nbsp;&nbsp;
      <%= f.select( :min_height_centemeters, 120..240, {:include_blank => true }, { :class => "auto-width" }) %><b>centemeters</b>
     <%= f.select( :max_height_inches, PersonalProfile.height_inches_select_options, {:include_blank => true }, { :class => "auto-width" }) %>&nbsp;&nbsp;
      &nbsp;&nbsp;OR&nbsp;&nbsp;
      <%= f.select( :max_height_centemeters, 120..240, {:include_blank => true }, { :class => "auto-width" }) %><b>centemeters</b>
        
      <% for label in PersonalQuestion::LABELS - ['gender'] %>
        <%= f.collection_check_boxes :wanted_answer_ids, PersonalQuestionAnswer::ANSWERS_BY_LABEL[label.to_sym], :id, :answer, label:  PersonalQuestion::LABEL_TO_QUESTION[label], :class => "auto-width", checked: @wanted_answers_hash[label] %>
      <% end %>

      <%= f.submit "Update", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>